body {
  background: gainsboro;
  font: 16px Stem-medium, arial, sans-serif;
}

.heading {
  text-align: center;
  font-weight: 400;
}

h1 {
  font: 22px Stem-medium, arial, sans-serif; /*Выбираем шрифт кнопки */
}

button {
  font: 16px Stem-medium, arial, sans-serif; /*Выбираем шрифт кнопки */
  background-color: #454cee; /*Выбираем цвет фона */
  border-radius: 8px; /*Закругление */
  color: white; /*Выбираем цвет текста*/
  padding: 16px 20px; /*Размер внутренних отступов*/
  margin: 8px 0;/*Размер внешних отступов*/
  border: none; /*Без границы*/
  cursor: pointer; /*Изменение курсора при наведении на кнопку*/
  width: auto; /*Ширина*/
}

button:hover { 
  opacity: 0.9; /*Изменение яркости кнопки при наведении*/
}

.btn-group button {
  font: 12px Stem-medium, arial, sans-serif; /*Выбираем шрифт кнопки */
  background-color: #454cee; /*Выбираем цвет фона */
  border-radius: 8px; /*Закругление */
  color: white; /*Выбираем цвет текста*/
  padding: 8px 10px; /*Размер внутренних отступов*/
  margin: 20px 5px;/*Размер внешних отступов*/
  border: none; /*Без границы*/
  cursor: pointer; /*Изменение курсора при наведении на кнопку*/
  width: 150px; /*Ширина*/
  float: left; /* Выстраиваем кнопки рядом друг с другом */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Исключаем двойную рамку */
}

/* Сбрасываем обтекание (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.container {
  padding: 20px; /*Размер внутренних отступов контейнера*/
}

.screen {
  width: 100vw;
  height: 100vh;
  display: none;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visible {
  display: flex;
}

input[type=hidden], input[type=submit] {
  text-align: center; /*Центровка текста*/
  border-radius: 4px;/*Скругляем углы */
  width: auto; /*Ширина */
  padding: 15px 20px; /*Размер внутренних отступов*/
  margin: 10px 0; /*Размер внешних отступов*/
  margin-right: auto; /*Размер внешних отступов справа*/
  margin-left: auto; /*Размер внешних отступов слева*/
  display: block; /*тип отображения*/
  border: 1px solid #050c26;/*Цвет, размер и тип границы */
  box-sizing: border-box; /*Размер объекта по отношению к родительскому */
  font: 14px Stem-Regular,arial, sans-serif;/*Выбираем шрифт */
  background-color: #454cee;
  color: white;
}

input[type=submit].btn-group:hover {
  opacity: 0.9; /*Изменение яркости кнопки при наведении*/
}

.modal {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5); /* фон */
  z-index: 1050;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in; 
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in; /* анимация перехода */
  pointer-events: none; /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}
/* При отображении модального окно */
.modal:target {
  opacity: 1; /* делаем окно видимым */
 pointer-events: auto; /* элемент видим для событий мыши */
  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
@media (min-width: 576px) {
.modal-dialog {
    max-width: 500px;
    margin: 30px auto; /* отображение окна по центру */
}
}
/* Стили для блока с контентом окна */ 
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}
@media (min-width: 768px) {
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
}
/* Стили заголовка окна */
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}
/* Стили блока основного содержимого окна */
.modal-body {
position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}

  