<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кто хочет стать миллионером?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form method="POST">
        <div class="screen visible">
          <label for="Login"><b>Введите ваше имя</b></label>
          <input type="text" placeholder="" name="Login" required>
          <button type="submit">Готово</button>
        </div>
    </form>  
</body>
</html>